.pantalla80 {
    height: 80vh !important;
}

@media (min-width: 1500px) {
    .pantalla1500 {
        background-size: contain;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .cambio>* {
        font-size: 24px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cambio2 {
        grid-area: 5 / 2 / 14 / 12 !important;
    }
    .cambio3 {
        grid-area: 5 / 3 / 12 / 11 !important;
    }
}